spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  web:
    resources:
      add-mappings: false
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

  mail:
    host: ${MAIL_HOST}
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true



jwt:
  secret:
    key: ${JWT_SECRET_KEY}

jamendo:
  api:
    url: ${JAMENDO_API_BASE_URL}
    key: ${JAMENDO_CLIENT_ID}

peachmusic:
  media:
    audio-path: ${UPLOAD_PATH}
    transcode-path: ${TRANSCODE_PATH}

worker:
  base-url: ${WORKER_URL}