spring:
  datasource:
    url: jdbc:mysql://localhost:3306/peach_music
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: hosujjing@gmail.com
    password: qwkvwqeacpibuiad
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true



jwt:
  secret:
    key: ${JWT_SECRET_KEY}

jamendo:
  api:
    url: ${JAMENDO_API_BASE_URL}
    key: ${JAMENDO_CLIENT_ID}