spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  web:
    resources:
      add-mappings: false

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

jamendo:
  api:
    url: ${JAMENDO_API_BASE_URL}
    key: ${JAMENDO_CLIENT_ID}